.card-widget {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(20, 14, 0);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 322px;
    height: 189px;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .card-widget:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 40%;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .card-text {
    width: 60%;
    font-size: 24px;
    font-weight: bold;
  padding-left: 10px;
    color: #FFAD32;
    font-family: Lexend;
  }
  