
.card-widget {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #100C04;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 322px;  
  height: 189px;
  cursor: pointer;
  transition: transform 0.3s;
}

.card-widget:hover {
  transform: scale(1.05);
}

.card-image {
  opacity: 80%;
  height: auto; 
  width: 90%;
  /* object-fit: cover; */
  border-radius: 4px;
  mix-blend-mode:difference;
}

.card-text {
  width: 60%;
  font-size: 24px;
  font-weight: bold;
  padding-left: 10px;
  color: #FFAD32;
  font-family: Lexend;
  overflow: visible;
}

/* Mobile view (425px, 375px, 320px) */
@media screen and (max-width: 600px) {
  .card-widget {
    display: flex;
    flex-direction: column; /* Stack the image and text vertically */
    align-items: center;
    justify-content: flex-start;
    width: 200px;  /* Decrease card width for mobile */
    height: 250px; /* Increase card height for mobile */
    padding: 15px;
  }

  .card-image {
    width: 100%;  /* Image should cover the full width of the card */
    height: 150px; /* Set a larger image height for mobile */
    object-fit: cover;
    margin-bottom: 15px; /* Space between image and text */
    border-radius: 8px;
  }

  .card-text {
    width: 100%; /* Make text take full width below image */
    text-align: center; /* Center the text */
    padding-left: 0;
    padding-top: 10px;
    font-size: 18px; /* Adjust font size for mobile */
  }
}
