.navbar_container{
    z-index: 100;
    height: fit-content;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* inset: 50px; */
    background: url("../../asset/menubg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
}

.dummy{
    color: #FFE7C5;
}

.nav_first_closed{
    transform: translateX(-100%);
}

.nav_closing{
    transform: translateX(-100%);
    /* transition: .5s ease-in-out; */
    animation: nav_closing 0.7s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.nav_opening{
    /* transform: translateX(0%);
    transition: .5s ease-in-out; */
    animation: nav_opening 0.7s cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.navbar_title{
    color: #FFE7C5;
    font-family: "Lexend";
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    margin-top: 48px;
}

.navbar_open_holder{
    z-index: 100;
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:40vh;
    left: 0%;
    /* background-color: rgba(0, 0, 0, .5); */
    
    /* border-radius: 0% 50% 50% 0%; */
}

/* .navbar_open_holder:hover{
    border: #FFE7C5 1.5px solid;
    border-left: none;
    transition: .3s;
}

.navbar_close_holder:hover{
    border: #FFE7C5 1.5px solid;
    border-right: none;
    transition: .3s;
} */

.navbar_open_img{
    width: 100%;
    height: auto;
}

.navbar_close_holder{
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
    top:40vh;
    right: 2%;

    /* border-radius: 50% 0% 0% 50%; */
}

.navbar_close_img{
    width: 100%;
    height: auto;
}

.navbar_menu_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}

.navbar_menu_holder{
    width: 102px;
    height: 217px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: 30px 80px;
    text-decoration: none;
    
}

.selected_menu{
    border-bottom: #FFE7C5 3px solid;
    border-top: #FFE7C5 3px solid;
    background: rgb(255,231,197);
background: radial-gradient(circle, rgba(255,231,197,0.5) 0%, rgba(120,120,120,0) 100%);
}

.navbar_menu_img_cont{
    width: 90%;
}

.navbar_menu_img{
    width: 100%;
    height: auto;
}

.navbar_menu_text{
    font-weight: 700;
    font-family: "Lexend";
    color: #FFE7C5;
    font-size: 25px;
    margin-top: 15px;
}

@keyframes nav_opening {
    0%{
        transform: translateX(-100%);
    }
    90%{
        transform: translateX(3%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes nav_closing {
    0%{
        transform: translateX(0%);
    }
    30%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@media(max-width:830px){
    .navbar_menu_holder{
        margin: 30px 70px;
    }
}

@media(max-width:786px){
    .nabar_container{
        padding: 15px;
    }
    .navbar_menu_holder{
        margin: 30px 50px;
    }
}

@media(max-width:646px){
    .navbar_menu_container{
        padding: 10px;
        margin-top: 20px;
    }
    .navbar_menu_holder{
        margin: 30px 50px;
        height: 150px;
    }
    .navbar_close_holder{
        width: 50px;
        height: 50px;
    }
    .navbar_open_holder{
        width: 50px;
        height: 50px;
    }
}

@media(max-width:464px){
    .navbar_menu_holder{
        margin: 10px 30px;
        width: 102px;
        height: 120px;
    }

    .navbar_menu_text{
        font-weight: 700;
        font-family: "Lexend";
        color: #FFE7C5;
        font-size: 20px;
        margin-top: 10px;
    }

    .navbar_title{
        font-size: 40px;
        margin-top: 20px;
    }

    .navbar_menu_img_cont{
        width: 50%;
    }
}

@media(max-width:384px){
    .navbar_menu_text{
        font-weight: 700;
        font-family: "Lexend";
        color: #FFE7C5;
        font-size: 18px;
        margin-top: 10px;
    }

    .navbar_menu_holder{
        margin: 20px 10px;
    }

}

@media(max-width:344px){
    .navbar_menu_holder{
        margin: 30px 10px;
    }

    .navbar_menu_text{
        font-weight: 700;
        font-family: "Lexend";
        color: #FFE7C5;
        font-size: 18px;
        margin-top: 10px;
    }
}