
*{
    box-sizing: border-box;
    /* overflow: hidden; */
}
html, body {
    height: 100%;
    overflow-x: hidden; /* No horizontal scroll */
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 5px;
}

.page-background {
    background-image: url('../../asset/event_land.png'); /* Full page background */
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
   
    padding: 20px; /* Add some padding to avoid overflow */
    box-sizing: border-box;
    overflow: hidden;
   
}



.description-box {
    width: 85%;
    max-width: 1000px;
    background: rgba(0, 0, 0, 0.7); /* Dark transparent background */
    padding: 40px 40px 0px 40px; /* Remove bottom padding */
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.3); /* Subtle border */
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: auto; /* Allow vertical scroll within content box */
    overflow-x: hidden;
    flex-shrink: 1;
    margin-bottom: 0; /* Remove margin at the bottom */
}


.event-title {
    font-size: 24px;
    color: #fff;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Azonix;

    /* text-align: center;
    justify-content: center; */
}


.description-header {
    font-size: 22px;
    color: #ffcc00; 
    text-align: left;
    margin-bottom: 10px;
    font-family: Azonix;
      text-align: center;
    justify-content: center;
}

/* Description Text */
.description-text {
    font-size: 18px;
    line-height: 1.6;
    color: #ddd; /* Light gray for readability */
    text-align: justify;
    margin-bottom: 40px;
    font-family: Lexend;
    flex-grow: 1;
    max-height: 500px;
        /* overflow-y: auto; */
        /* scrollbar-color: #f8d000 rgba(255, 255, 255, 0.1);  */
        /* scrollbar-width: thin; */
}

.tab-menu-container {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0px; /* Adjust this value to perfectly align the tab menu */
    z-index: 1;
}


.tab-menu {
    display: flex;
    justify-content: center; 
    align-items:center; 
    border-radius: 0 0 10px 10px; 
    border-top: none;
    /* transform-origin: bottom; */
    padding: 0; 
    /* border-image-slice: 1;  */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    width: 70%;
    max-width: 600px;
    position: relative; 
    /* overflow: hidden; */
    /* margin-left: 155px; 
    margin-top: 100px; */
    margin: 0 auto; 
    /* background: linear-gradient(106.64deg, rgba(255, 173, 50, 0.3) 0%, rgba(255, 173, 50, 0.3) 203.52%);  */
}

/* Tab Items */
.tab-item {
    position: relative;
    background: linear-gradient(106.64deg, rgba(255, 173, 50, 0.1) 0%, rgba(255, 173, 50, 0.1) 203.52%); 
    flex: 1; 
    text-align: center; 
    cursor: pointer;
    background-color: transparent;
    padding: 18px 14px ; /* Reduced padding for the tabs */
    margin-bottom: 0;
    /* border-radius: 20px; */
    transition: height 0.4s ease, transform 0.4s ease, background-color 0.4s ease, border-color 0.4s ease; /* Smooth transition */
    height: 50px; 
    overflow: hidden;
    z-index: 1; 
}


.tab-item.active  {
    /* height: 50px;  */
    /* transform: ScaleY(5px);  */
    /* background: linear-gradient(106.64deg, rgba(255, 173, 50, 0.3) 0%, rgba(255, 173, 50, 0.3) 203.52%);  */
    background-color:rgba(248, 208, 0, 0.36) !important;
    border-color: transparent; 
    transform-origin: bottom;
    /* height: 50px;  */
    padding-top: 20px;
    margin-bottom: 20px;

}



.tab-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffad32;
    transition: height 0.4s ease, opacity 0.4s ease;
    z-index: 0;
}

/* 
.tab-item.active::before,
.tab-item:hover::before {
    height: 0;
    opacity: 0;
} */

/* Active Tab Styling */
/* .tab-item.active {
    height: 50px; 
    padding-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient(106.64deg, rgba(255, 173, 50, 0.3) 0%, rgba(255, 173, 50, 0.3) 203.52%); 
} */

/* Active Content Styling */
.tab-content {
    display: none;
    padding: 20px;
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.tab-content-container {
    margin-top: 20px;
    position: relative;
    width: 100%;
}

/* Expand content when active */
.tab-content.active {
    display: block; /* Adjust this based on the content length */
}

.register-button-container {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; 
    margin-top: 20px;
    max-width: 600px; 
}

.arrow {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-left: 15px;  /* Add margin for left arrow */
    margin-right: 15px;
}


.arrow:hover {
    color: #ffcc00; /* Highlight color on hover */
}

.register-button {
     background: rgba(246, 208, 0, 0.36);
     border: 1px solid rgba(254, 227, 86, 1); 
    color: white; 
    padding: 12px 40px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px; 
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
}

.register-button:hover {
    /* background: rgba(255, 255, 255, 0.2);  */
    transform: translateY(-2px); 
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.2); 
}

/* Responsive Design */
@media (max-width: 900px) {
    .description-text {
        max-height: 500px;
        overflow-y: auto;
        scrollbar-color: #f8d000 rgba(255, 255, 255, 0.1);
        scrollbar-width: thin;
        padding-right: 15px; 
    }
    .description-box::-webkit-scrollbar {
        width: 8px;
    }
    
    .description-box::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
    }
    
    .description-box::-webkit-scrollbar-thumb {
        background-color: #f8d000;
        border-radius: 10px;
        border: 2px solid transparent;
    }
    
    .description-box::-webkit-scrollbar-thumb{
        background-color: #ffc300;
        border: 2px solid transparent;
    }
    .tab-menu {
        width: 90%;
        margin: 0 auto;
    }

    .tab-item {
        font-size: 12px; 
    }

    .description-box {
        /* padding: 0px; */
        width: 100%;
        height: auto;
    }
    .tab-menu-container{
        margin-top: 0px;
    }
    .description-header{
        font-size: 18px;
        margin-top: 5px;
    }
    .event-title{
        font-size: 20px;
       
    }
}

@media (max-width: 600px) {
    .page-background{
        padding: 0px;
    }
    .tab-menu {
        display: flex;
        justify-content: center; /* Center the active tab */
        align-items: center;
        position: relative;
        width: 80%; /* Reduce width of the description box */
        padding: 0;
        box-shadow: none;
        overflow: hidden; /* Hide the overflow to ensure swipe works smoothly */
    }

    .tab-item {
        display: none; /* Hide all tabs by default */
    }

    .tab-item.active {
        display: block; /* Show only the active tab */
        background-color: rgba(248, 208, 0, 0.5); /* Active tab background */
        padding: 10px;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }

    
    .description-box {
        width: 90%; 
        padding: 7px 7px 0px 7px; 
        position: relative;
        margin: 0 auto; 
    }

    .description-text {
        max-height: 500px;
        overflow-y: auto;
        scrollbar-color: #f8d000 rgba(255, 255, 255, 0.1); /* Yellow scrollbar */
        scrollbar-width: thin;
        font-size: 18px;
        padding-right: 15px;

    }
 
} 